<style>
    #febs-order xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #febs-order xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-order" lay-title="工厂设备管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="order-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="orderTable" lay-data="{id: 'orderTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="orderStatus-option">
    {{#
    let orderStatus = {
    '7':{title:'完成',color:'volcano'},
    '6':{title:'发货',color:'volcano'},
    '5':{title:'收货',color:'volcano'},
    '4':{title:'完工',color:'volcano'},
    '3':{title: '排产', color:'volcano'},
    '2':{title: '中标', color:'volcano'},
    '1': {title: '发布', color:'volcano'},
    '0': {title: '订单创建', color:'volcano'}
    }[d.orderStatus];
    }}
    <span class="layui-badge febs-bg-{{orderStatus.color}}">{{ orderStatus.title }}</span>
</script>
<script  type="text/html" id="order-option">
    {{# if (d.orderStatus == 0){}}
    <a lay-event="openClose"><i class="layui-icon febs-edit-area febs-green">&#xe7a0;</i></a>
    <a lay-event="edit"><i class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
    {{#}}}{{# if (d.orderStatus == 1){}}
    <a lay-event="orderSet"><i class="layui-icon febs-edit-area febs-green">&#xe80f;</i></a>
    {{#}}}
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#febs-order'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();

        table.on('sort(userTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            deptXmlSelect.setValue(['']);
            createTimeTo = null;
            createTimeFrom = null;
            tableIns.reload({where: getQueryParams(true), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'orderTable',
                // url: ctx + 'order/list',
                url: ctx + 'order/listGet' ,
                cols: [[
                    {type: 'checkbox'},
                    {field: "orderId",title:'序号',minWidth: 50},
                    {field: "orderNumber",title: '产品编号',minWidth: 200},
                    {field: 'productName', title: '产品名称', minWidth: 150},
                    {field:'orderCountNum',title: '订购数量',minWidth: 50},
                    {field: 'orderDeadDate', title: '交付日期', minWidth: 150},
                    {field: 'orderDeliverDate', title: '投标截止日期', minWidth: 150},
                    {field: 'orderCustomerName', title: '收货人', minWidth: 150},
                    {field: 'orderCustomerPhone', title: '收货人联系方式', minWidth: 150},
                    {field: 'orderCustomerAddress', title: '收货地址', minWidth: 150},
                    {title: '订单状态', toolbar: '#orderStatus-option', minWidth: 140},
                    {title: '操作', toolbar: '#order-option', minWidth: 140},
                    //设备租用状态
                ]]
            });
            console.log(tableIns);
        }

        table.on('tool(orderTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'orderSet') {
                febs.modal.confirm('投标', '确认要进行投标吗？',function () {
                    action1(data);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改用户', 'system/device/deviceUpdate/' + data.deviceId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#device-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
            if (layEvent === 'openClose') {
                febs.modal.confirm('改变设备状态', '确定改变设备状态', function () {
                    openDevices(data);
                });
            }
        });
        function action1(data) {
            console.log('--------for data--------');
            console.log(data);
            console.log('----------currentUser------');
            console.log(currentUser);
            currentUser.orderId = data.orderId;
            febs.modal.open('确定投标', 'system/order/orderBidAdd',{
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#orderBid-add').find('#submit').trigger('click');
                },
                btn2: function () {
                    $('#user-add').find('#reset').trigger('click');
                    return false;
                }
            });
            return false;
        }

    })
</script>