<style>
    #febs-user xm-select {
        min-height: 30px;
        line-height: 30px;
    }
    #febs-user xm-select > .xm-label .scroll .label-content {
        display: flex;
        padding: 0 30px 0 10px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-deviceType" lay-title="设备类别管理">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="deviceType-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">设备名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="deviceTypeName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">设备描述</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="deviceTypeDetail" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary febs-button-green-plain table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
                                    <i class="layui-icon">&#xe7b5;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="deviceTypeTable" lay-data="{id: 'deviceTypeTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="deviceType-option">
    <a lay-event="edit"><i class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
    <a lay-event="del"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'xmSelect'], function () {
        let $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            // deviceType = [[${deviceype}]],
            $view = $('#febs-deviceType'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createTime', type: null},
            tableIns;

        form.render();

        initTable();

        laydate.render({
            elem: '#user-createTime',
            range: true,
            trigger: 'click'
        });

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {
                let checkStatus = table.checkStatus('deviceTypeTable');
                    febs.modal.open('新增设备类型', 'system/deviceType/deviceTypeAdd', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#device-type-add').find('#submit').trigger('click');
                        },
                    });
            },
            options: [{
                name: 'add',
                title: '新增设备类别'
            }]
        });



        table.on('tool(deviceTypeTable)', function (obj) {
            let data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'del') {
                febs.modal.confirm('删除设备类型', '确定删除该设备类型？', function () {
                    console.log(data);
                    deleteUsers(data.deviceTypeId);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改设备类型', 'system/deviceType/deviceTypeUpdate/' + data.deviceTypeId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#device-type-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(deviceTypeTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            let params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(true), page: {curr: 1}, initSort: sortObject});
        });

        function initTable() {
            console.log("enter into here to init");
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'deviceTypeTable',
                url: ctx + 'deviceType/list',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'deviceTypeId',title: '设备类型编号',minWidth: 100},
                    {field: 'deviceTypeName',title: '设备类型名称',minWidth: 100},
                    {field: 'deviceTypeDetail',title: '设备类型描述',minWidth: 100},
                    {title: '操作', toolbar: '#deviceType-option', minWidth: 140}
                ]]
            });
            console.log("enter into here to end init");
            console.log(tableIns);
        }

        function getQueryParams() {
            // deptId = deptXmlSelect.getValue('valueStr');
            // if (flag) {
            //     deptId = '';
            // }
            let params = $searchForm.serializeJson();
            console.log(params);
            // params.deptId = deptId;
            // let createTime = params.time;
            // if (createTime) {
            //     createTimeFrom = createTime.split(' - ')[0];
            //     createTimeTo = createTime.split(' - ')[1];
            // }
            // params.invalidate_ie_cache = new Date();
            // params.createTimeFrom = createTimeFrom;
            // params.createTimeTo = createTimeTo;
            return params;
        }

        function deleteUsers(deviceTypeId) {
            console.log('---------------------');
            console.log(deviceTypeId);
            console.log('--------------');
            febs.get(ctx + 'deviceType/delete/' + deviceTypeId, null, function () {
                febs.alert.success('删除设备类型成功');
                $query.click();
            });
        }
    })
</script>