<style>
    #product-update {
        padding: 20px 25px 25px 0;
    }
</style>
<div class="layui-fluid" id="product-update">
    <form class="layui-form" action="" lay-filter="product-update-form">
        <div class="layui-form-item" >
            <div class="layui-inline">
                <label class="layui-form-label layui-form-label-sm">产品编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="productNumber" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item" >
            <div class="layui-inline">
                <label class="layui-form-label layui-form-label-sm">产品类型名称</label>
                <div class="layui-input-inline">
                    <select name="productTypeId" id="selectList">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item" >
            <div class="layui-inline">
                <label class="layui-form-label layui-form-label-sm">产品名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="productName" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item" >
            <div class="layui-inline">
                <label class="layui-form-label layui-form-label-sm">产品规范</label>
                <div class="layui-input-inline">
                    <input type="text" name="productNorms" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item" >
            <div class="layui-inline">
                <label class="layui-form-label layui-form-label-sm">产品描述</label>
                <div class="layui-input-inline">
                    <input type="text" name="productDescribe" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="product-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript" type="text/javascript">
    layui.use(['febs', 'form', 'validate', 'xmSelect'], function () {
        let $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            form = layui.form,
            xmSelect = layui.xmSelect,
            product = [[${product}]],
            table = layui.table,
            dropdown = layui.dropdown,
            validate = layui.validate;
            // productTypeXmlSelect;
            $view = $('#febs-productType'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $searchForm = $view.find('form');

            console.log(product);

            form.verify(validate);
            form.render();

            initUserValue();

            function initUserValue() {
                form.val("product-update-form", {
                    "productDescribe":product.productDescribe,
                    "productName":product.productName,
                    "productNorms":product.productNorms,
                    "productNumber":product.productNumber,
                    "productTypeId":product.productTypeId,
                });
            }

            // //获取相对应的数据（下拉框中的）
            // productTypeXmlSelect = xmSelect.render({
            //     el: '#productType-Update',
            //     toolbar: {show: true},
            //     name: 'productTypeId',
            //     theme: {
            //         color: '#52c41a',
            //     },
            //     prop: {
            //         name: 'productTypeName',
            //         value: 'productTypeId'
            //     },
            //     data: []
            // });
            //
            // febs.get(ctx + 'productType/list', null, function (data) {
            //     productTypeXmlSelect.update({
            //         data: data.data.rows,
            //         autoRow: true,
            //     })
            // });

            $.ajax({
                url:ctx + "productType/list",
                dataType:'json',
                type:'get',
                success:function (data)
                {
                    console.log('-------all values--------');
                    console.log(data);
                    console.log(data.data);
                    console.log(data.data.rows);
                    $.each(data.data.rows,function (index,value){
                        $('#selectList').append(new Option(value.productTypeName,value.productTypeId));
                        console.log('-------value-------');
                        console.log(value);
                        console.log('-------------------');
                    })
                    form.render("select");
                }
            });
            form.render("select");

            form.on('submit(product-update-form-submit)', function (data) {
                product.productTypeId = data.field.productTypeId;
                product.productNumber = data.field.productNumber;
                product.productName = data.field.productName;
                product.productNorms = data.field.productNorms;
                product.productDescribe = data.field.productDescribe;
                console.log('------after change');
                console.log(product);
                febs.post(ctx + 'product/update', product, function () {
                    layer.closeAll();
                    febs.alert.success(data.productName + '产品类型修改成功');
                    $('#febs-product').find('#reset').click();
                });
                return false;
            });
    });
</script>